
div,span,body{margin:0;padding:0}
.line{clear:both;float:left;width:100%;border:1px solid #fff;margin-bottom:3%}
.line p{float:left;min-width:100px;margin-left:3%;color:#00000}
.line .inputArea{float:left;}
.line .inputArea input{float:left;width:370px;height:30px;margin:10px 0 0 0;padding-left:10px}
.submit{clear:both;float:left;width:100%;height:50px;background:#fff;border:0;font-size:20px;color:hotpink}
